img {
	width: 100%;
}

body {
	text-align: center;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	background-image: url(../images/congruent_pentagon.png);
}

.panel ,
.panel-default,
.panel-title,
.panel-heading  {
	background-color: #ebfdd4;
	border-color: #ebfdd4;
}

#title {
	background-color: #ebfdd4;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;

}

.col-xs-6 {
	font-size: 30px;
	padding: 20px;
}

